*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.container{
    height: 86vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}
.img1-container{
    height: 500px;
    width: 500px;
}
.img2-container{
    height: 500px;
    width: 500px;
}
.img3-container{
    height: 500px;
    width: 500px;
}
img{
    margin: 0%;
    margin-left: 5%;
    height: 60%;
    width: 90%;
}
p{
    font-size: large;
    margin-left: 5%;
    margin-top: 3%;
    color: rgb(84, 83, 83);
}
h2{
    margin-top: 3%;
    margin-left: 5%;
}
a{
    position: absolute;
    font-size: large;
    font-family: "Cabin", sans-serif;
    margin-left: 2%;
    margin-top: 1.5em;
    text-decoration: underline;
    color: rgb(9, 5, 5);
}
a:hover{
    color: rgb(54, 54, 235);
    cursor: pointer;
}